$navbar-background: #3450A3;
$primary: #43a047;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';


$bg-color: #eff0f1;


.box {
  background: white;
  padding: 20px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 0 3px 0 rgba(0, 0, 0, 0.12);
  margin: 9px 0;

  &.col {
    margin-right: 9px;
  }

  &.last {
    margin-left: 9px;
    margin-right: 0;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

